<div class="col-xs-12">
  <div class="alert alert-info">
    <h3>Last Winner: <%= @game.last_match_winner %></h3>
    Match: <%= @game.player_name %>&nbsp;<%= @game.get_player_icon(@game.player.id) %> VS <%= @game.opponent_name %>&nbsp;<%= @game.get_player_icon(@game.opponent.id) %>
    <p>Move History (<%= @game.total_moves %>)</p>
    <p>Move Available (<%= @game.available_moves %>)</p>
    <hr />
  </div>
  <div class="alert alert-warning">
    Current Turn: <%= @game.current_turner%>
  </div>
  <br>
  <% 1.upto(3).each do |row| %>
      <% 1.upto(3).each do |col| %>
          <div class="col-xs-4 cell">
            <% if @game.board.get_cell_value(row, col) %>
                <%= @game.player_icon(row, col) %>
            <% else %>
                <%= form_for(@game.source, url: move_game_path, method: :post, as: :move) do |f| %>
                    <%= f.hidden_field :y_axis, value: row %>
                    <%= f.hidden_field :x_axis, value: col %>
                    <%= f.submit 'Select', class: 'btn btn-primary' %>
                <% end %>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>

<%= content_for :moves do %>
    <h4><span class="label label-info">
        <i class="glyphicon glyphicon-bell"></i>
      <%= @game.source.current_status %></span>
    </h4>
    <% if !@game.source.started? %>
        <%= link_to 'Start Now!', start_game_path, class: 'btn btn-warning', style: 'border-bottom: 20px' %>
    <% end %>
    <br>
    <div class="panel panel-default">
      <div class="page-header">
        <h3 class="panel-heading">Game Details</h3>
      </div>
      <div class="panel-body">
        <h3>Leader Board</h3>
        <table class="table table-borderedd">
          <tr>
            <td>Round#</td>
            <td>Winner</td>
            <td>Looser</td>
            <td>Result</td>
          </tr>

          <% @game.point_tables.each_with_index do |point_table, i| %>
              <tr>
                <td>
                  <%= i.next %>
                </td>
                <td>
                  <%= point_table.winner_name %>
                </td>
                <td>
                  <%= point_table.looser_name %>
                </td>
                <td>
                  <%= point_table.result %>
                </td>
              </tr>
          <% end %>
        </table>
        <h3>Move History</h3>
        <ol>
          <% @game.moves.each do |move|  %>
              <li><%= move.player_name %></li>&nbsp;moved to: <%= move.moved_to %>
          <% end %>
        </ol>
      </div>
    </div>
<% end %>
<div class="clearfix2"></div>

<div class="col-xs-12">
  <%= link_to 'Back', games_path, class: 'btn btn-default' %>
  <%= link_to 'Abandon', games_path, class: 'btn btn-default' %>
</div>
